* { margin: 0; padding: 0; }

body {background-color: #eee; font: 16px/24px Georgia,serif; }

#wrap {margin: 0 auto; max-width:500px; }
#header {margin-top:20px;}

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

h1 { margin-bottom: 1em; }
h3 { color: grey; }

p { margin: 1em 0; }

ul{ list-style-position:inside;}
ul li{ padding-left:20px;}

hr {margin: 20px 0; border:none; height:1px; background-color: grey;}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

ul.posts { list-style-type: none; margin-bottom: 2em; }

#footer {font-size:0.8em; line-height:1em;}
